<div class="row footerBox">
    <div class="col-s-6">
        <h2>Index data usage notice</h2>
        <p class="footerCOntent">
            The Content Has been made available informational and educational purposes only. 
            We does not warrant the performance. effectiveness or applicability of any sites listed or linked to in any Content. Copyright Disclaimer Under Section 107 of the Copyright Act 1976,
            allowance is made for"fair use" for purposes such as criticism, comment,news reporting,teaching scholarship, and research. Fair use is a use permitted by copyright statute that might otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair use."
        </p>
    </div>

    <div class="col-s-6">
        <h2>Donate Us</h2>
        <br>
        <div class="row">
            <div class="tooltip">
                <button class="donate" mat-stroked-button (click)="copyInputMessage('ETH')" value="click to copy"> BTC
                </button>
                <button class="donate" mat-stroked-button (click)="copyInputMessage('ETH')" value="click to copy"> ETH
                    </button>
                <button class="donate" mat-stroked-button (click)="copyInputMessage('BCH')" value="click to copy"> BCH
                        </button>
                <button class="donate" mat-stroked-button (click)="copyInputMessage('XRP')" value="click to copy"> XRP
                            </button>
                <span class="tooltiptext">Click to copy Address</span>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <h2>Follow Us</h2>
            <br>
            <a href="https://www.facebook.com/IndianCryptos-470483933474608/?modal=admin_todo_tour" class="fa fa-facebook"></a>
            <a href="https://twitter.com/IndianCryptos" class="fa fa-twitter"></a>
            <a href="https://www.reddit.com/user/IndianCryptos" class="fa fa-reddit"></a>
            <a href="https://t.me/joinchat/Ge04ThHsnnn0Vq4R2kjAWg" class="fa fa-telegram"></a>
        </div>
    </div>
    <div class="col-s-4">
    </div>
</div>
<!-- Copyright -->
<div class="footer-copyright text-center py-3">
    <h2> 2019 Copyright: Visual Datastructure</h2>
</div>