.start {
    /*border: 1px solid rgb(175, 216, 248);*/
    background-image: url("./triangletwo-right.svg");
    /*background-color: rgb(255, 254, 106);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
mat-card{
    font-size: large;
    background: mintcream;
}

mat-form-field{
    padding-top: 20px;
}

.clearButton{
    margin-left: 12px;
}

.title{
  //text-align: center;
font-size: x-large;
background: #2a3957;
color: aliceblue;
}

.menu{
    padding-left: 8%;
    button{
    font-size: 18px;
    }

    .mat-button:hover {
        color: #2a3957;
        background: #dddddd;
      }
}

.label{

}

.mat-tooltip
{
    font-size: medium;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 70px;
  }
  
.target {
    /*border: 1px solid rgb(175, 216, 248);*/
    background-image: url("./circle.svg");
    /*background-color: rgb(255, 254, 106);*/
    /*background-color: rgba(232, 147, 12, 0.75);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}



.unvisited {
    border: 1px solid rgb(175, 216, 248);
    background-color: white
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  mat-button-toggle
  {
    background: cadetblue;
  }


  .visitedStartNodeBlue {
    /*border: 1px solid rgb(175, 216, 248);*/
    background-image: url('./triangletwo-right.svg');
    /*background-color: rgb(255, 254, 106);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: visitedStartNodeBlueAnimation;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.visitedStartNodePurple {
    /*border: 1px solid rgb(175, 216, 248);*/
    background-image: url('./triangletwo-right.svg');
    /*background-color: rgb(255, 254, 106);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: visitedStartNodePurpleAnimation;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.visitedObjectNode {
    background-image: url('./diamond.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: visitedStartNodeBlueAnimation;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.visitedTargetNodeBlue {
    background-image: url('./circle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: visitedStartNodeBlueAnimation;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.visitedTargetNodePurple {
    background-image: url('./circle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: visitedStartNodePurpleAnimation;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


.visited {
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
      transform: scale(.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
  }
  50% {
      background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75)
  }
  100% {
      transform: scale(1.0);
      background-color: rgba(0, 190, 218, 0.75);
  }
}


@keyframes visitedStartNodePurpleAnimation {
  0% {
      transform: scale(.3);
      background-color: rgba(41, 4, 24, 0.75);
      border-radius: 100%;
  }
  50% {
      background-color: rgba(97, 0, 20, 0.75);
  }
  75% {
      transform: scale(1.2);
      background-color: rgba(216, 5, 141, 0.75)
  }
  100% {
      transform: scale(1.0);
      background-color: rgba(178, 67, 255, 0.75);
  }
}

@keyframes visitedStartNodeBlueAnimation {
  0% {
      transform: scale(.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
  }
  50% {
      background-color: rgba(17, 104, 217, 0.75);
  }
  75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
  }
  100% {
      transform: scale(1.0);
      background-color: rgba(0, 190, 218, 0.75);
  }
}


.shortest-path-unweighted {
    /*border: 1px solid rgb(175, 216, 248);*/
    background: url('./triangletwo-right.svg');
    background-color: rgb(255, 254, 106);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}

.startTransparent {
    /*border: 1px solid rgb(175, 216, 248);*/
    opacity: 0.5;
    background-image: url("./triangletwo-right.svg");
    background-color: rgb(255, 254, 106);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: specialNodes;
    animation-duration: 2.0s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}




.wall {
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        background-color: rgb(12, 53, 71);
    }
    50% {
        transform: scale(1.2);
        background-color: rgb(12, 53, 71);
    }
    100% {
        transform: scale(1.0);
        background-color: rgb(12, 53, 71);
    }
}



.shortest-path {
    /*border: 1px solid rgb(175, 216, 248);*/
    background-color: rgb(255, 254, 106);
    /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;*/
    animation-name: triangletwo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

.shortest-path.weight {
    /*border: 1px solid rgb(175, 216, 248);*/
    background-color: rgb(255, 254, 106);
    background-image: url('./weight.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-name: triangletwo;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes triangletwo {
    0% {
        transform: scale(.6);
        background-color: rgb(255, 254, 106);
    }
    50% {
        transform: scale(1.2);
        background-color: rgb(255, 254, 106);
    }
    100% {
        transform: scale(1.0);
        background-color: rgb(255, 254, 106);
    }
}

.shortest-path-unweighted {
    /*border: 1px solid rgb(175, 216, 248);*/
    background: url('./triangletwo-right.svg');
    background-color: rgb(255, 254, 106);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain
}
